<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org >
<head>
	<meta charset="UTF-8">
	<title>个人信息</title>
	<meta name="renderer" content="webkit">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	
	<meta name="apple-mobile-web-app-status-bar-style" content="black">	
	<meta name="apple-mobile-web-app-capable" content="yes">	
	<meta name="format-detection" content="telephone=no">	
	<link rel="stylesheet" type="text/css" th:href="@{/static/common/layui/css/layui.css}" href="../static/common/layui/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" th:href="@{/static/common/bootstrap/css/bootstrap.css}" href="../static/common/bootstrap/css/bootstrap.css" media="all">
	<link rel="stylesheet" type="text/css" th:href="@{/static/common/global.css}" href="../static/common/global.css" media="all">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/personal.css}" href="../static/css/personal.css" media="all">
</head>
<body>
<section class="layui-larry-box">
	<div class="larry-personal">
		<header class="larry-personal-tit">
			<span>个人信息</span>
		</header><!-- /header -->
		<div class="larry-personal-body clearfix">
			<form class="layui-form col-lg-5" th:action="@{update}" action="personInfo.html" method="post">
				<div class="layui-form-item">
					<label class="layui-form-label">用户名</label>
					<div class="layui-input-block">  
						<input type="text" name="name"  autocomplete="off"  class="layui-input layui-disabled" th:value="${master.name}" value="admin" >
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">最后登陆时间</label>
					<div class="layui-input-block">
						<input type="text" name="loginTime"  autocomplete="off" class="layui-input" th:value="${master.time}" value="Larry" disabled="disabled">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">手机号码</label>
					<div class="layui-input-block">
						<input type="text" name="phone"  autocomplete="off" class="layui-input" th:value="${master.phone}" placeholder="输入手机号码">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">状态</label>
					<div class="layui-input-block">
						<input type="text" name="status"  autocomplete="off" class="layui-input" th:value="${master.status=='1'?'可用':'不可用'}" value="Larry" disabled="disabled">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">修改头像</label>
					<div class="layui-input-block">
						<input type="file" name="pic" class="layui-upload-file">
					</div>
				</div>
				<input type="hidden" name="picture" id="ppp">
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">备注</label>
					<div class="layui-input-block">
						<textarea placeholder="既然选择了远方，便只顾风雨兼程；路漫漫其修远兮，吾将上下而求索" value="" class="layui-textarea"></textarea>
					</div>
				</div>
				
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<script type="text/javascript" th:src="@{/static/common/layui/layui.js}" src="../static/common/layui/layui.js"></script>
<script type="text/javascript">
	layui.use(['form','upload'],function(){
         var form = layui.form();
         layui.upload({ 
             url: '/upload' ,//上传接口
             success: function(res){
              //上传成功后的回调
				 if(res.success) {
				 	var pictu = layui.jquery("#ppp");
				 	pictu.val(res.url);
				 }
              console.log(res.url)
            } 
         });

	});
</script>
</body>
</html>