<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="banji">
	<resultMap id="banjiMap" type="BanJiStudent">
		<id column="id" property="id"></id>
		<result column="name" property="name"></result>
		<collection property="list" ofType="student">
			<id property="id" column="studentId"></id>
			<result property="sname" column="sname"></result>
			<result property="sex" column="sex"></result>
			<result property="age" column="age"></result>
		</collection>
	</resultMap>
	<sql id="selectName">
		id,name
	</sql>
	<select id="selectTotalCount" resultType="Integer">
		select count(*) as count from banji
	</select>
	<!-- 通过id查找学生 -->
	<!--<select id="selectById" parameterType="Integer" resultType="Student">
		select <include refid="selectName"></include> from student where id=#{id}
	</select>-->
	<select id="selectById" parameterType="Integer" resultType="BanJi">
		select <include refid="selectName"></include> from student where id=#{id}
	</select>

	<select id="selectBanjiStudent" resultMap="banjiMap">
		select b.id,b.name,s.id as studentId,s.sname,s.sex,s.age
		from banji as b inner join student as s
		on b.id=s.banjiId
	</select>
	<!--<select id="selectAll" parameterType="Map" resultType="StudentBanJi">
		select s.id,s.sname,s.age,s.sex,b.name as banjiName
		from student as s INNER join banji as b
		on s.banjiId=b.id
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectLike" parameterType="Map" resultType="StudentBanJi">
		SELECT s.id,s.sname,s.sex,s.age,b.name as banjiName
		from student as s inner join banji as b on s.banjiId = b.id
		where s.sname like concat('%',#{sname},'%')
		limit #{offset}, #{pageSize}
	</select>-->

	<delete id="deleteById" parameterType="Integer">
		delete from banji where id=#{id}
	</delete>

	<!--<insert id="insert" parameterType="com.jyc.entity.Student">
		insert into student(sex,sname,age,banjiId) value(#{sex},#{sname},#{age},#{banjiId})
	</insert>-->
	<insert id="insert" parameterType="BanJi">
		insert into banji(name) value (#{name})
	</insert>

	<update id="update" parameterType="BanJI">
		update banji set name=#{name} where id=#{id}
	</update>
	
</mapper>
  