<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="student">
	<!-- 通过id查找学生 -->
	<select id="selectById" parameterType="Integer" resultType="Student">
		select id,sname,age,sex,banjiId from student where id=#{id}
	</select>

	<select id="selectAll" resultType="StudentBanJi">
		select s.id,s.sname,s.age,s.sex,b.name as banjiName
		from student as s INNER join banji as b
		on s.banjiId=b.id
	</select>

	<delete id="deleteById" parameterType="Integer">
		delete from student where id=#{id}
	</delete>

	<!--<insert id="insert" parameterType="com.jyc.entity.Student">
		insert into student(sex,sname,age,banjiId) value(#{sex},#{sname},#{age},#{banjiId})
	</insert>-->
	<insert id="insert" parameterType="Student">
		insert into student(sex,sname,age,banjiId) value (#{sex},#{sname},#{age},#{banjiId})
	</insert>

	<update id="update" parameterType="Student">
		update student set sex=#{sex},sname=#{sname},age=#{age},banjiId=#{banjiId} where id=#{id}
	</update>
	
</mapper>
  