<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org >
<head>
	<meta charset="UTF-8">
	<title>个人信息</title>
	<meta name="renderer" content="webkit">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	
	<meta name="apple-mobile-web-app-status-bar-style" content="black">	
	<meta name="apple-mobile-web-app-capable" content="yes">	
	<meta name="format-detection" content="telephone=no">	
	<link rel="stylesheet" type="text/css" th:href="@{/static/common/layui/css/layui.css}" href="../../static/common/layui/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" th:href="@{/static/common/bootstrap/css/bootstrap.css}" href="../../static/common/bootstrap/css/bootstrap.css" media="all">
	<link rel="stylesheet" type="text/css" th:href="@{/static/common/global.css}" href="../../static/common/global.css" media="all">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/personal.css}" href="../../static/css/personal.css" media="all">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/table.css}" href="../../static/css/table.css">
</head>
<body>
<section class="layui-larry-box">
	<div class="hidden-form" style="display: none">
		<form id="form-my" action="/single/all" method="post">
			<input name="single" id="single" type="text" th:value="${single}"/>
			<input name="pageNumber" id="pageNumber" type="text" th:value="${page.pageNum}"/>
			<input name="pageSize" id="pageSize" type="text" th:value="${page.pageSize}"/>
			<input name="pages" id="pagess" type="text" th:value="${page.pages}">
		</form>
	</div>
	<div class="larry-personal">
	    <div class="layui-tab">
            <blockquote class="layui-elem-quote news_search">
		
		<div class="layui-inline">
		    <div class="layui-input-inline">
		    	<input value="" id="find" name="str" th:value="${single}" placeholder="请输入关键字" class="layui-input search_input" type="text">
		    </div>
		    <a class="layui-btn search_btn" th:attr="data-url=@{/single/find}" data-url="table.html">查询</a>
		</div><div class="layui-inline">
			<a class="layui-btn layui-btn-normal newsAdd_btn" th:attr="data-url=@{/single/toAdd}" data-url="newsAdd.html">添加题目</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn recommend" style="background-color:#5FB878">推荐文章</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn audit_btn">审核文章</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel">批量删除</a>
		</div>
		<div class="layui-inline">
			<div class="layui-form-mid layui-word-aux">本页面刷新后除新添加的文章外所有操作无效，关闭页面所有数据重置</div>
		</div>
	</blockquote>
            
		         <!-- 操作日志 -->
                <div class="layui-form news_list">
                    <table class="layui-table">
					    <colgroup>
						<col width="50">
						<col>
						<col width="9%">
						<col width="9%">
						<col width="9%">
						<col width="9%">
						<col width="9%">
						<col width="15%">
					</colgroup>
					<thead>
						<tr>
							<th><input name="" lay-skin="primary" lay-filter="allChoose" id="allChoose" type="checkbox">
								<div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>
							</th>
							<th style="text-align:left;">题目</th>
							<th>正确答案</th>
							<th>发布人</th>
							<th>标签</th>
							<th>是否可选</th>
							<th>发布时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="news_content">
						<tr th:each="question : ${list}">
							<td><input name="checked" lay-skin="primary" lay-filter="choose" type="checkbox"  th:attr="data-id=${question.getId()}">
								<div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>
							</td>
							<td align="left" th:text="${question.getSimpleQuestion()}">css3用transition实现边框动画效果</td>
							<td th:text="${question.right}">请叫我马哥</td>
							<td th:text="${question.master.name}">审核通过</td>
							<td th:text="${question.simple}">开放浏览</td>
							<td><input name="show" lay-skin="switch" lay-text="是|否" lay-filter="isShow" type="checkbox">
								<div class="layui-unselect layui-form-switch" lay-skin="_switch"><em th:text="${question.isExam}">否</em><i></i></div>
							</td>
							<td th:text="${question.formatTime}">2017-04-14</td>
							<td>
								<a class="layui-btn layui-btn-mini news_edit"><i class="iconfont icon-edit"></i> 编辑</a>
								<a class="layui-btn layui-btn-normal layui-btn-mini news_collect"><i class="layui-icon"></i> 添加</a>
								<a class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="1"><i class="layui-icon"></i> 删除</a>
							</td>
						</tr>
					</tbody>
					</table>
					<div class="larry-table-page clearfix">
						<a href="javascript:;" class="layui-btn layui-btn-small del-my"><i class="iconfont icon-shanchu1"></i>删除</a>
						<div id="page" class="page"></div>
					</div>
			    </div>

			<div class="my-page-1">
				<div id="page1" class="page1">
					<div class="first-page">首页</div>
					<div class="prev-page">上一页</div>
					<ul class="my-ul" th:each="i:${#numbers.sequence(page.navigateFirstPage,page.navigateLastPage)}">
						<li class="my-li" th:text="${i}"></li>
					</ul>
					<div class="next-page">下一页</div>
					<div class="last-page">尾页</div>
					<div class="page-size">
						<select class="select-pageSize" name="pageSize">
							<option th:value="5" value="5">5</option>
							<option th:value="10" value="10">10</option>
							<option th:value="15" value="15" >15</option>
							<option th:value="20" value="20" >20</option>
						</select>
					</div>
				</div>
			</div>

			     <!-- 登录日志 -->
			    <div class="layui-tab-item layui-field-box">
			          <table class="layui-table table-hover" lay-even="" lay-skin="nob">
                           <thead>
                              <tr>
                                  <th><input type="checkbox" id="selected-all"></th>
                                  <th>ID</th>
                                  <th>管理员账号</th>
                                  <th>状态</th>
                                  <th>最后登录时间</th>
                                  <th>上次登录IP</th>
                                  <th>登录IP</th>
                                  <th>IP所在位置</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td>110</td>
                                <td>admin</td>
                                <td>后台登录成功</td>
                                <td>2016-12-19 14:26:03</td>
                                <td>127.0.0.1</td>
                                <td>127.0.0.1</td>
                                <td>Unknown</td>
                              </tr>
                            </tbody>
			          </table>
			          <div class="larry-table-page clearfix">
                          <a href="javascript:;" class="layui-btn layui-btn-small"><i class="iconfont icon-shanchu1"></i>删除</a>
				          <div id="page2" class="page"></div>
			         </div>
			    </div>
		    </div>
		</div>
	
</section>
<script type="text/javascript" th:src="@{/static/common/layui/layui.js}" src="../../static/common/layui/layui.js"></script>
<script type="text/javascript" th:src="@{/static/js/newslist.js}" src="../../static/js/newslist.js"></script>
<script th:inline="javascript">
	var page = [[${page.pages}]];
	var size = [[${page.pageSize}]];
	console.log(size);

</script>
<script type="text/javascript">
	layui.use(['jquery','layer','element','laypage'],function(){
		window.jQuery = window.$ = layui.jquery;
		window.layer = layui.layer;
		var element = layui.element(),
				laypage = layui.laypage;


		laypage({
			cont: 'page',
			pages: 0 //总页数
			,
			groups: 0 //连续显示分页数
			,
			jump: function(obj, first) {
				//得到了当前页，用于向服务端请求对应数据
				var curr = obj.curr;
				if(!first) {
					//layer.msg('第 '+ obj.curr +' 页');
				}
			}
		});

		laypage({
			cont: 'page2',
			pages: 0 //总页数
			,
			groups: 0 //连续显示分页数
			,
			jump: function(obj, first) {
				//得到了当前页，用于向服务端请求对应数据
				var curr = obj.curr;
				if(!first) {
					//layer.msg('第 '+ obj.curr +' 页');
				}
			}
		});
		$(".select-pageSize").val(size);
	});
</script>

</body>
</html>