<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jyc.mapper.BanjiMapper">

	<resultMap id="banjiMap" type="BanjiStudent">
		<id column="id" property="id"></id>
		<result column="name" property="name"></result>
		<collection property="list" ofType="student">
			<id property="id" column="studentId"></id>
			<result property="sname" column="sname"></result>
			<result property="sex" column="sex"></result>
			<result property="age" column="age"></result>
		</collection>
	</resultMap>

	<sql id="selectName">
		id,name
	</sql>

	<select id="selectTotalCount" resultType="Integer">
		select count(*) as count from banji
	</select>

	<!-- 通过id查找学生 -->
	<!--<select id="selectById" parameterType="Integer" resultType="Student">
		select <include refid="selectName"></include> from student where id=#{id}
	</select>-->

	<select id="selectById" parameterType="Integer" resultType="Banji">
		select <include refid="selectName"></include> from student where id=#{id}
	</select>

	<select id="selectBanjiStudent" resultMap="banjiMap">
		select b.id,b.name,s.id as studentId,s.sname,s.sex,s.age
		from banji as b inner join student as s
		on b.id=s.banjiId
	</select>

	<select id="selectAll" resultType="Banji">
		select * from banji
	</select>

	<select id="selectAllOne" resultType="Banji">
		select * from banji
		    limit #{offset},#{pageSize}
	</select>

	<select id="selectBanjiTongji" resultType="BanjiTongji">
		select b.name as name, count(*) as count
		from student as s inner join banji as b
		on s.banjiId=b.id
        group by b.id
	</select>

	<delete id="deleteById" parameterType="Integer">
		delete from banji where id=#{id}
	</delete>

	<!--<insert id="insert" parameterType="com.jyc.entity.Student">
		insert into student(sex,sname,age,banjiId) value(#{sex},#{sname},#{age},#{banjiId})
	</insert>-->

	<insert id="insert" parameterType="Banji">
		insert into banji(name) value (#{name})
	</insert>

	<update id="update" parameterType="BanjI">
		update banji set name=#{name} where id=#{id}
	</update>
	
</mapper>
  